$primary: #303030;
$secondary: rgba(255, 255, 255, .4);
$light: #fff;

$border-primary: 1px solid rgba(255, 255, 255, .15);
$border-secondary: 1px solid rgba(255, 255, 255, .7);
$shadow: 1px 1px 6px 0px rgba(0, 0, 0, .1);